{% extends 'layout.html.twig' %}

{% block title %}Connectez-vous!{% endblock %}

{% block content %}
<form method="post" class="p-5 bg-dark-subtle w-75 mx-auto rounded text-black">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}



    <h1 class="h3 mb-3 font-weight-normal text-center display-5">Connectez-vous!</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox my-3">
        <label>
            <input type="checkbox" name="_remember_me"> Rester connecté
        </label>
    </div>
    <div class="mx-auto row">
        <button class="offset-2 col-3 btn btn-lg btn-primary" type="submit">
            Connexion
        </button>
        <a href="{{ path('user_register') }}" class="offset-3 col-3 text-center align-content-center">S'inscrire</a>
    </div>
</form>
{% endblock %}
